<h1 class="text-danger">@ViewBag.Title</h1>
<h1 class="text-danger">Код помилки: @ViewBag.HttpCode</h1>
<h2 class="text-danger">@ViewBag.Message</h2>

<div>
    <br />
    @Html.ActionLink("До списку проектів", "Index")
</div>

